@media (max-width: 767px) {

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        margin-left: 0px;
        column-gap: 33px;
        align-items: center;
    }

    .presentation {
        width: 343px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 32px;
    }

    .about {
        width: 343px;
        text-align: center;
        font-size: 14px;
        line-height: 22px;
    }

}