* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 1024px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) -7.35%, #000915 100%), url(img/HW1.jpg), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 120px;
    padding-top: 217px;
}

.presentation {
    width: 760px;
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
}

.about {
    width: 481px;
    color: #FFF;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 44px;
    margin-top: 32px;
}

.spectext {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
}


.button_go {
    border-radius: 30px;
    background: #9C0332;
    width: 234px;
    height: 48px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    padding-top: 13px;
    &_active:hover {
        border-radius: 30px;
        background: #EB443F;
    }
}

.footer {
    height: 556px;
    background: #000915;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
}

.item {
    width: 378px;
    height: 300px;
    &_1 {
        background-image: url(img/Game1.png);
        &_active:hover {
            border-radius: 16px;
            border: 3px solid #44D2FF;
            background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(img/Game1.png), lightgray 50% / cover no-repeat;
        }
    }
    &_2 {
        background-image: url(img/Game2.png);
        &_active:hover {
            border-radius: 16px;
            border: 3px solid #44D2FF;
            background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(img/Game2.png), lightgray 50% / cover no-repeat;
        }
    }
    &_3 {
        background-image: url(img/Game3.png);
        &_active:hover {
            border-radius: 16px;
            border: 3px solid #44D2FF;
            background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(img/Game3.png), lightgray 50% / cover no-repeat;
        }
    }

}

.game_name {
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    position: absolute;

    padding-left: 32px;
    padding-top: 236px;

}

.footer2 {
    background: #000915;
    padding-left: 120px;
    padding-bottom: 282px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.seasons {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    &_choose {
        width: 584px;
        color: #FFF;
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
    }
}

.button_play {
    width: 234.063px;
    height: 48.603px;
    border-radius: 30px;
    background: #9C0332;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    padding-left: 74px;
    padding-top: 13.3px;
    padding-bottom: 13.3px;
    padding-right: 90px;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    &_active:hover {
        border-radius: 30px;
        background: #EB443F;
    }
}

.left_side {
    padding-top: 282px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.right_side {
    padding-top: 233px;
    width: 485px;
    height: 333px;

}



@import 'mobile'; 
